//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        hml: homerow_mods_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_LAYER";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
            &mt NUMBER_1 Q  &mt NUMBER_2 W  &mt NUMBER_3 E  &mt NUMBER_4 R  &mt NUMBER_5 T    &mt NUMBER_6 Y  &mt N7 U         &mt NUMBER_8 I  &mt NUMBER_9 O  &mt NUMBER_0 P
            &hml 1 A        &hml 2 S        &hm LCTRL D     &hm LSHIFT F    &kp G             &kp H           &hm RSHFT J      &hm RCTRL K     &hm RALT L      &hm RGUI SEMICOLON
&kp LSHIFT  &kp Z           &kp X           &kp C           &kp V           &kp B             &kp N           &kp M            &kp COMMA       &kp DOT         &kp SLASH           &kp RSHIFT
                                            &kp LEFT_GUI    &lt 1 SPACE     &kp ESCAPE        &kp RET         &lt 2 BACKSPACE  &kp RIGHT_ALT
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans   &trans     &trans
        &trans  &trans  &trans  &trans  &trans    &kp LEFT  &kp DOWN  &kp UP   &kp RIGHT  &kp RIGHT
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans    &trans   &trans     &trans     &trans
                        &trans  &trans  &trans    &trans    &trans    &kp DOT
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
        &kp EXCL  &kp AT  &kp HASH  &kp DOLLAR  &kp LEFT_BRACE          &kp RIGHT_BRACE        &kp BACKSLASH  &kp KP_ASTERISK  &kp SQT  &kp DQT
        &trans    &trans  &trans    &trans      &kp LEFT_BRACKET        &kp RIGHT_BRACKET      &kp MINUS      &trans           &trans   &trans
&trans  &trans    &trans  &trans    &trans      &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &kp EQUAL      &trans           &trans   &kp SLASH  &kp HOME
                          &trans    &trans      &trans                  &trans                 &trans         &trans
            >;
        };

        Fun {
            display-name = "Fun";
            bindings = <
        &bootloader  &trans  &trans  &trans  &to 4     &trans  &trans  &trans  &kp END  &kp F1
        &trans       &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &kp F10
&trans  &trans       &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &kp F20  &kp F7
                             &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        Gaming {
            display-name = "Gaming";
            bindings = <
            &kp Z           &kp X  &kp C      &kp V         &sl 0     &trans  &trans  &trans  &trans  &trans
            &kp TAB         &kp Q  &kp W      &kp E         &kp R     &trans  &trans  &trans  &trans  &trans
&kp ESCAPE  &kp LEFT_SHIFT  &kp A  &kp S      &kp D         &kp F     &trans  &trans  &trans  &trans  &trans  &trans
                                   &kp LCTRL  &kp LEFT_ALT  &trans    &trans  &trans  &trans
            >;
        };
    };
};
